#Ignore in progress items
**/todo/* 

#IDE Ignore section
.vscode/
.cursor/
.idea/
.vimrc/

bin/
pkg/
.DS_Store
*.pyc
*.swp
*.tfstate
*.tfstate*
*~
.vs/
.skaffold-*.yaml
.kubernetes-manifests-*/
.project
.eclipse.buildship.core.prefs
.terraform
.terraform/*
.terraform.lock.hcl
*.tfvars
release/wi-kubernetes-manifests.yaml
